ipykernel
ipywidgets
datasets
matplotlib
torch
torchvision
torchaudio
transformers
seaborn
accelerate
evaluate
optuna
onnxruntime
onnx
scikit-learn
scikit-multilearn
nlpaug
faiss-cpu
wandb
tensorboard